@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
 
} */

/* Remove the "X" clear button */
.search-no-clear::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* Additional cross-browser compatibility */
.search-no-clear::-ms-clear {
  display: none;
}

/* Remove the focus outline */
.search-no-clear:focus {
  outline: none;
}
